body {
    max-width: 1000px;
    margin: 0 auto;
}
nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
    width: 80px;
    margin: 15px;
    padding: 5px;
    padding-bottom: 0px;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: dimgray;
}

#index img {
    width: 1000px;
    height: 400px;
    object-fit: cover;
}

.home img {
    display: inline-block;
    width: 400px;
    margin: 15px;
}

header, h2, h3, p, .home {
    color: black;
    text-align: center;
}

h2 {
    margin: 50px;
}

.profile img{
    float: left;
    width: 250px;
    height: 250px;
    margin-top: -30px;
    margin-left: 110px;
}

.profile p, h3 {
    margin: 25px 0px 25px 380px;
}

p {
    margin: 25px;
}

.contact h2 {
    clear: both;
    margin-top: 100px;
}

.contact p {
    margin-bottom: 100px;
}